// src/site/_includes/components/user/common/head/expose-frontmatter-global.njk

{% set fm = note.data or data or {} %}

<script id="user-note-frontmatter" type="application/json">
{{ fm | dump | safe }}
</script>
