{# En un componente temporal, dentro de una nota que tenga Frontmatter custom #}

<details>
    <summary>DEBUG: Contenido Completo de DATA</summary>
    <pre style="white-space: pre-wrap;">
        {# Inspecciona TODO lo que está disponible en el contexto de la plantilla #}
        {{ page.data | dump }}
        {{ page | dump }}
        {{ data | dump }}
        {{ page.fileSlug | dump }}
        {{ collections | dump }}
    </pre>
</details>
