{# src/site/_includes/components/user/sidebar/top/02-frequent-links.njk #}

<div class="frequent-links-container">
    <h3 class="frequent-links-title">Enlaces Rápidos</h3>
    <ul class="frequent-links-list">
        
        {# Itera sobre el array de enlaces que cargamos desde el archivo de datos navigation.js #}
        {% for link in navigation.mainLinks %}
            <li>
                <a href="{{ link.url | url }}" class="sidebar-link">{{ link.title }}</a>
            </li>
        {% endfor %}
        
    </ul>
</div>

{# [Estilos CSS omitidos por ser los mismos que antes] #}
